#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: TilePrefab(
                range: U32U32(0, 7),
                geometry: Geometry::Square,
                friction: F32(1.0),
                bounciness: F32(0.0),
            )
        ),
        PrefabEntity(
            data: TilePrefab(
                range: U32U32(8, 8),
                geometry: Geometry::Void,
            )
        )
    ]
)