#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: PlayerPrefab(
                mass: F32(100.0),
                friction: F32(1.0),
                bounciness: F32(0.0),
                pos: F32F32(0.0, 0.0),
            )
        )
    ]
)